<%- include('../partials/header') %>
<br>
<br>

      
<h2>All My Restaurants</h2>


<div class="row ">
<% restaurants.forEach(function(r) { %>
  <div>
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%= r.name %>
                    <a href="/restaurants/<%= r._id %>/favorites">
                    <i class="far fa-star"></i></a>
                </h5>
                
                <p class="card-text"> <%= r.location %></p>
                <a href="/restaurants/<%= r._id %>" method="GET" class="btn btn-success">More Details</a>
                <form action="/restaurants/<%= r._id %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit" class="btn btn-danger">Remove Restaurant</button>
                </form>
            </div>
        </div>
    </div>
<% }); %>
</div>







<%- include('../partials/footer') %>



  
