<%- include('../partials/header') %>
    <br>
    <br>
    <h2>All My Restaurants</h2>

    <div class="container">
        <div class="row card-body">
            <div class="col-3">
                <img src="../../images/burger.jpg" height="200" width="100%">
                <img src="../../images/salad.jpg" height="250" width="100%">
                <img src="../../images/greek.jpg" height="250" width="100%">
            </div>

            <div class="col-6">
                <div class="row">
                    <% restaurants.forEach(function(r) { %>
                      <div>
                            <div class="card" style="width: 25rem;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= r.name %>
                                        
                                    </h5>
                                    
                                    <p class="card-text"> <%= r.location %></p>
                                    <a href="/restaurants/<%= r._id %>" method="GET" class="btn btn-success">More Details</a>
                                    
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>

            </div>

            <div class="col 3">
                <img src="../../images/meat.jpg" height="200" width="100%">
                <img src="../../images/sushi.jpg" height="250" width="100%">
                <img src="../../images/pancake.jpg" height="250" width="100%">
            </div>
            

        </div>
    </div>
    <%- include('../partials/footer') %>


  
