<%- include('../partials/header') %>
    <br>
    <br>
    <br>


    

    <div class="container">
        <div class="row card-body">
            <div class="col-3">
                <img src="../../images/burger.jpg" height="200" width="100%">
                <img src="../../images/salad.jpg" height="250" width="100%">
                <img src="../../images/greek.jpg" height="250" width="100%">
            </div>

            <div class="col-6">
                <section id="show-page">
                <% restaurants.forEach(function(r) { %>
                    <div>
                        <div class="card" style="width: 25rem;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= r.name %>
                                        
                                </h5>

                                <p class="card-text">
                                    <%= r.location %>
                                </p>
                                <a href="/restaurants/<%= r._id %>" method="GET" class="btn btn-secondary">More
                                    Details</a>
                                <form action="/restaurants/<%= r._id %>?_method=DELETE" class="delete-form"
                                    method="POST">
                                    <button type="submit" class="btn btn-danger">Remove Restaurant</button>
                                </form>

                                

                                
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </section>
            </div>


            <div class="col 3">
                <img src="../../images/meat.jpg" height="200" width="100%">
                <img src="../../images/sushi.jpg" height="250" width="100%">
                <img src="../../images/pancake.jpg" height="250" width="100%">
            </div>

        </div>
    </div>






    <%- include('../partials/footer') %>