<%- include('../partials/header') %>
    <br>
    <br>


    <h2>Restaurants Details</h2>

    <div class="container ">
        <div class="row card-body">
            <div class="col-3">
                
                <img src="../../images/burger.jpg" height="250" width="100%">
                <img src="../../images/burger.jpg" height="250" width="100%">
                <img src="../../images/burger.jpg" height="250" width="100%">
           
            </div>

            <div class="col-6">

                <section id="show-page">
                    <!-- <div>Name: </div> -->
                    <div style="font-size: 2rem; font-weight: 500;">
                        <%= restaurant.name %>
                    </div>
                    <!-- DOES NOTHING yet but add the number of reviews -->
                    <!-- if (restaurant.reviews.length) { -->
                        <!-- <p> (restaurant.reviews.length) # of Reviews</p> -->
                    <!-- }; -->
                    <hr class="makeline">
                    <!-- <div>City: </div> -->
                    <div><strong> <%= restaurant.location %></strong>
                    </div>
                    <!-- <div>Type of Food: </div> -->
                    <div>Cusine:
                        <%= restaurant.foodtype %> 
                    </div>
                    <a href="/restaurants/<%= restaurant._id %>/edit" class="edit-link">edit</a>
                </section>

                <br>


                <hr class="makeline">
                <div>
                    <% if (restaurant.reviews.length) { %>
                        <div>Reviews</div>
                    <% restaurant.reviews.forEach(r => { %>
                        <!-- add id to this div in order to format reviews -->
                        <div id="eachReview">
                            <li>
                                <%= r.content %>
                            </li>
                            <li>
                                <%= r.rating %>
                            </li>
                            <% if (r.date) { %>
                                <li>
                                    <%= r.date.toDateString() %>
                                    
                                </li>
                            <% }; %>
                            <li>
                                Review posted by <%= user.name %>
                            </li>
                            <!-- if user made the post, then show form -->
                            


                            <% if(r.userId){ %>
                                <% if(r.userId.equals(user._id)) { %>
                                    <form action="/restaurants/<%= r._id %>?_method=DELETE" method="POST" >
                                        <button type="submit">X</button>
                                    </form>
                                <% } %>
                            <% } %>

                            
                          
                         
                            <br>
                        </div>
                    <% }); %>
                    <% } else { %> 
                    <div>No Reviews Yet</div>
                    <% } %>
                </div>

                <form action="/restaurants/<%= restaurant._id %>" method="POST">
                    <div id="addReview">
                        <label>Comments:</label>
                        <textarea name="content"></textarea>
                        <br>
                        <label>Rating:</label>
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option selected value="5">5</option>
                        </select>
                        <br>
                        <label>Date</label>
                        <input type="datetime-local" name="date">

                        <input type="submit" value="Add Review">
                    </div>
                </form>

            </div>

            <div class="col 3">
                
                <img src="../../images/burger.jpg" height="250" width="100%">
                <img src="../../images/burger.jpg" height="250" width="100%">
                <img src="../../images/burger.jpg" height="250" width="100%">
           
            </div>
            

        </div>
    </div>









    <%- include('../partials/footer') %>