<%- include('../partials/header') %>
    <br>
    <br>
    <br>


    

    <div class="container">
        <div class="row card-body">
            <div class="col-3">
                <img src="../../images/burger.jpg" height="200" width="100%">
                <img src="../../images/salad.jpg" height="250" width="100%">
                <img src="../../images/greek.jpg" height="250" width="100%">
            </div>

            <div class="col-6">

                <section id="show-page">
                    
                    <div style="font-size: 2rem; font-weight: 500;">
                        <form action="/restaurants/<%= restaurant._id %>/edit">
                            <%= restaurant.name %><button type="submit" class="btn btn-secondary"><i class="fas fa-edit"></i></button>
                        </form>
                    </div>
                    
                    <hr class="makeline">
                    <div><strong> <%= restaurant.location %></strong>
                    </div>

                    <div>Cusine:
                        <%= restaurant.foodtype %> 
                    </div>
                    
                    
                </section>

                <br>


                <hr class="makeline">
                <div>
                    <% if (restaurant.reviews.length) { %>
                        <div>Reviews</div>
                    <% restaurant.reviews.forEach(r => { %>
                        <!-- add id to this div in order to format reviews -->
                        <div id="eachReview">
                            <li>
                                <%= r.content %>
                            </li>
                            <li>
                                <% if (r.rating == 5) { %>
                                <%= r.rating %>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <% } else if(r.rating == 4) { %>
                                    <%= r.rating %>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <% } else if(r.rating == 3) { %>
                                    <%= r.rating %>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <% } else if(r.rating == 2) { %>
                                    <%= r.rating %>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                                <% } else { %>
                                    <%= r.rating %>
                                <i class="far fa-star"></i>
                                <% } %>

                            </li>
                            <% if (r.date) { %>
                                <li>
                                    <%= r.date.toDateString() %>
                                    
                                </li>
                            <% }; %>
                            <li>
                                <!-- this makes any user sign in appear -->
                                Review posted by <%= r.reviewerName %>
                            </li>
                            <!-- if user made the post, then show form -->
                        

                        
                           

                            <% if(r.userId){ %>
                                
                                <% if(r.userId.toString() == user._id.toString()) { %>
                                    <form action="/restaurants/<%= restaurant._id %>/reviews/<%= r._id %>?_method=DELETE" method="POST" >
                                        <button type="submit" class="btn btn-dark" id="removeReview"><i class="far fa-trash-alt"></i></button>
                                    </form>
                                <% } %>
                            <% } %>

                            
                          
                         
                            <br>
                        </div>
                    <% }); %>
                    <% } else { %> 
                    <div>No Reviews Yet</div>
                    <% } %>
                </div>

                <form action="/restaurants/<%= restaurant._id %>" method="POST">
                    <div id="addReview">
                        <label>Comments:</label>
                        <textarea name="content"></textarea>
                        <br>
                        <label>Rating:</label>
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option selected value="5">5</option>
                        </select>
                        <br>
                        <label>Date</label>
                        <input type="datetime-local" name="date">

                        <input type="submit" value="Add Review">
                    </div>
                </form>

            </div>

            <div class="col 3">
                <img src="../../images/meat.jpg" height="200" width="100%">
                <img src="../../images/sushi.jpg" height="250" width="100%">
                <img src="../../images/pancake.jpg" height="250" width="100%">
            </div>
            

        </div>
    </div>

    <%- include('../partials/footer') %>
